<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue 拼圖遊戲</title>
    <link rel="stylesheet" href="style-20250701-1.css">
</head>

<body>
    <div id="app">
        <div class="wait">
            <ul>
                <li v-for="(item, i) in puzzleWait.content" :key="item.idx" @click="handPuzzleActive(item, i)">
                    <img :src="item.url" alt="">
                </li>
            </ul>
        </div>
        <div class="carried">
            <ul>
                <li v-for="(item, i) in puzzleCarried.content" :key="item.idx" @click="handPuzzleReset(item, i)">
                    <img :src="item.url" alt="">
                </li>
            </ul>
        </div>
        <div :class="['winPage', {open: isWin}]">
            <h1>恭喜您！闖關成功唷！好棒棒！！</h1>
        </div>
    </div>
</body>
<script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const { ref, reactive, onMounted, watch } = Vue;
    const App = {
        setup() {

            const puzzleWait = reactive({ content: [] });
            const puzzleCarried = reactive({ content: [] });

            const Winidx = ref(0);
            const isWin = ref(false);

            watch(
                () => puzzleCarried.content, (imgItem) => {
                    Winidx.value = 0;
                    imgItem.forEach((item, idx) => {
                        if (item, idx === idx) {
                            Winidx.value++;
                        }
                    });
                },
                { deep: true }
            );

            watch(Winidx, (i) => {
                if (i === 9) {
                    setTimeout(() => {
                        isWin.value = true;
                    }, 500)
                }
            });

            const handPuzzleActive = (item, i) => {
                puzzleCarried.content.push(item);
                puzzleWait.content.splice(i, 1);
            };

            const handPuzzleReset = (item, i) => {
                puzzleWait.content.push(item);
                puzzleCarried.content.splice(i, 1);
            };

            onMounted(() => {
                axios.get("./api/puzzle.json").then((res) => {
                    puzzleWait.content = res.data;
                });
            });

            return {
                puzzleWait,
                puzzleCarried,
                handPuzzleActive,
                handPuzzleReset,
                isWin,
            };
        },
    };

    Vue.createApp(App).mount("#app");
</script>

</html>